{{ define "head" }}
{{ $redirectUrl := "/" }}
<script>
  // setTimeout(() => {
  //   window.location.href = "{{ $redirectUrl }}"; // TODO: update this to point to the ntfy topic
  // }, 10000);
</script>
{{ end }}


{{ define "content" }}
{{ $redirectUrl := "https://ntfy.sh/" }}
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 sm:py-12">
  <img
    src="/static/img/beams.jpg"
    alt=""
    class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2"
    width="1308"
  />
  <div
    class="absolute inset-0 bg-[url(/static/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
  ></div>
  <div
    class="relative bg-white px-4 pt-4 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-7xl sm:rounded-lg sm:px-10 sm:py-10"
  >
    <div class="mx-auto">
      <div class="text-5xl">
        Laundry Notifications
      </div>
      <div class="divide-y divide-gray-300/50">
        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
          <p>Registered for the next load, justin.</p>
          <!-- Img or animation of some sort here -->
          <p>Load started at 3.04pm</p>
          <p>
            You will be redirected to the notifications page in 10 seconds, or
            <a
              href="{{ $redirectUrl }}"
              class="relative before:absolute before:w-[80%] before:border-b-2 before:border-b-red-400 before:bottom-[-2px] before:left-[10%] before:transition-all before:duration-300 before:ease-in-out before:hover:w-full before:hover:left-0 hover:text-gray-500"
            >
              click here
            </a> to go now
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
