{{ define "index" }}
<html>

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="/static/app.css"
  >
  <script src="/static/htmx.min.js"></script>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >
  <title>{{ .title }}</title>
</head>

<body class="p-2">
  <div>
    <h1>Laundry notifications</h1>
    <div>
      Select or add your name to be notified when the next load of laundry is finished
    </div>
  </div>
  <div>
    <ul>
      {{ range .users }}
        <li>{{ . }}</li>
      {{ end }}
      <li>Name one</li>
      <li>Name two</li>
    </ul>
  </div>
</body>

</html>
{{end}}
